/* @tailwind base; */
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}




html {
  scroll-behavior: smooth;
  font-family: "Lato, sans-serif";
}