.body {
    font-family: 'Inter', sans-serif;
}

.cardIcon {
    border-radius: 0.75rem;
    cursor: pointer;
}

.cardIconBottom {
    border-radius: 0.75rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 1rem;
}

.iconNameLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill {
    padding: 0.25rem 1rem;
    margin-bottom: 0.05rem;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 2rem;
}

.infoPanel {
    background-color: rgba(225, 241, 255, 0.80) !important;
    backdrop-filter: blur(8px);
}

.flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}