.stickyScroll {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px -2.5px; */
}

.cardIcon {
    border-radius: 0.75rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardIcon:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.iconThumbnail {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cardIconBottom {
    border-radius: 0.75rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 1rem;
}

.iconNameLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPanelHeading {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pill {
    padding: 0.25rem 1rem;
    margin-bottom: 0.05rem;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 2rem;
}

.infoPanel {
    background-color: rgba(225, 241, 255, 0.80) !important;
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
    --animate-duration: 0.3s;
    z-index: 1000 !important;
}

.flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexParent1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* gap: 1rem; */
    transition: all 0.5s;
    width: 50%;
}

.flexParent2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    /* gap: 1rem; */
    transition: all 0.5s;

}

.flexChild1 {
    /* flex-grow: 1; */
    flex-basis: 40%;
    /* flex */
    transition: all 0.5s;
}

.flexChild2 {
    /* flex-grow: 1; */
    flex-basis: 15%;
    transition: all 0.5s;
}

.flexChild3 {
    /* flex-grow: 1; */
    flex-basis: 30%;
    /* flex */
    transition: all 1s;
}

.flexChild4 {
    /* flex-grow: 1; */
    flex-basis: 20%;
    transition: all 1s;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
}


.span6 {
    grid-column: span 6;
}

.span8 {
    grid-column: span 8;
}